.weatherProject {
  padding: 20px;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  color: #333333;
  box-shadow: inset 4px 4px 7px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}

.weatherProjectWrapper {
  max-width: 600px;
  margin: 30px auto;
}
li {
  list-style-type: none;
}
ul {
  margin: 0px;
  padding: 0px;
}
.hour {
  font-size: 50px;
  text-align: center;
  padding: 10px 0px 0px 12px;
}
.date {
  text-align: center;
  padding: 15px 0px 0px 8px;
  font-size: 14px;
}
.currentLocation {
  text-align: center;
  margin: 20px 0px 0px 10px;
  padding: 10px 10px;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #333333;
  background-color: #333333;
  border-radius: 50px;
  color: #dadde1;
}
.location {
  padding: 20px 0px 0px 25px;
  font-size: 20px;
}
.temperature {
  padding: 31px 0px 0px 25px;
  font-size: 30px;
}
.units {
  font-size: 10px;
  font-weight: 600;
}
.weatherDescription {
  font-size: 10px;
  font-weight: 600;
  padding: 4px 0px 0px 25px;
  text-transform: capitalize;
}
.humidity {
  font-size: 10px;
  font-weight: 600;
  padding: 0px 0px 0px 25px;
}
.windspeed {
  font-size: 10px;
  font-weight: 600;
  padding: 0px 0px 0px 25px;
}
.weatherImage {
  padding: 30px 0px 0px 0px;
  width: 165px;
}
.credits {
  padding: 15px;
  font-size: 10px;
}
.form-control {
  margin: 10px 40px;
  background: linear-gradient(145deg, #d5d5d5c2, #eeeeee9a);
  box-shadow: inset 1px 1px 3px #bababaa1, inset -1px -1px 3px #ffffff;
  height: 30px;
}
