.weatherProject {
  padding: 20px;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  color: #333333;
  box-shadow: inset 4px 4px 7px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}

.weatherProjectWrapper {
  max-width: 600px;
  margin: 30px auto;
}
li {
  list-style-type: none;
}
ul {
  margin: 0px;
  padding: 0px;
}
.hour {
  font-size: 30px;
  text-align: center;
  padding-top: 8px;
}
.date {
  text-align: center;
  padding: 30px 0px 0px 8px;
  font-size: 14px;
  font-weight: 600;
}

.location {
  padding: 20px 0px 0px 5px;
  font-size: 20px;
}
.temperature {
  padding: 20px 0px 0px 5px;
  font-size: 40px;
}
.units {
  font-size: 10px;
  font-weight: 600;
  color: #333333;
  text-decoration: none;
}
.weatherDescription {
  font-size: 12px;
  font-weight: 600;
  padding: 4px 0px 0px 5px;
  text-transform: capitalize;
}
.humidity {
  font-size: 12px;
  font-weight: 600;
  padding: 0px 0px 0px 5px;
}
.windspeed {
  font-size: 12px;
  font-weight: 600;
  padding: 0px 0px 0px 5px;
}
.weatherImage {
  padding: 45px 0px 0px 0px;
  width: 165px;
}
.credits {
  font-size: 10px;
  color: #b6b6b6;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  position: relative;
  top: 10px;
  left: 210px;
}
.form-control {
  margin: 20px 12px;
  background: linear-gradient(145deg, #d5d5d5c2, #eeeeee9a);
  box-shadow: inset 1px 1px 3px #bababaa1, inset -1px -1px 3px #ffffff;
  height: 30px;
}
.temperature .active {
  cursor: default;
  color: #333333;
  text-decoration: none;
}
.temperature :hover {
  transition: all 250ms ease;
  color: #333333;
  text-decoration: none;
}
.lastupdated {
  font-size: 10px;
  font-weight: 600;
  text-align: center;
}
.weather-forecast {
  text-align: center;
  margin: 0px 40px;
}
.weather-forecast-date {
  font-size: 15px;
  text-align: center;
  margin: 10px;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
  font-size: 14px;
}
.weather-forecast-temperature-max {
  font-size: 14px;
}
